* {
  --bone: #e0ddcf;
  --wenge: #534b52;
  --isabelline: #f1f0ea;
  --raisin-black: #2d232e;
  --onyx: #474448;
  --onyx-dark: #242125;
  --onyx-medium: #3e3e48;
  --onyx-gray: #7b757d;

  --sexy-blue: #5cecc0;
}

html {
  background-color: var(--onyx-dark);
  color: var(--bone);
}
