body {
  display: flex;
  flex-direction: column;
}

.header-button {
  text-decoration: none;
  color: var(--bone);
}

.header-button:hover {
  background-color: var(--bone);
  color: var(--onyx-dark);
  padding: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  padding: 7px;
  padding-left: 10px;
  padding-right: 20px;
}

nav ul li {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-container {
  margin-bottom: 50px;
}

.hero-container {
  background-color: var(--onyx);
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  clip-path: inset(5px round 5px);
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 60%;
}

.hero-description {
  text-align: center;
}

.hero-title {
  text-align: center;
}

.hero-img-container {
  display: flex;

  justify-content: center;
}

.hero-img {
  height: 300px;
  width: 300px;
}

.lesson-header {
  font-size: 2em;
  text-decoration: underline;
  text-align: center;
}

.parent-list {
  list-style: none;
  text-align: center;
}

.lesson-nav-section {
  margin: auto;
}

.sublist {
  font-size: 1.5em;
}

.sublist-item {
  list-style: none;
  text-align: center;
}
