body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
}

.interactive-activity {
  background-color: var(--onyx-gray);
  height: 100px;
}

.visual-simulation {
  margin-top: 10px;
  background-color: var(--onyx-gray);
  height: 100px;
}
