body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
}

.interactive-activity {
  outline: solid 2px var(--onyx-gray);
  height: 200px;
}

.visual-simulation {
  margin-top: 10px;
  outline: solid 2px var(--onyx-gray);
  height: 200px;
}
