body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
}

strong {
  text-decoration: underline;
  color: var(--sexy-blue);
}

.lessons-container {
  margin: 0 auto;
  max-width: 76vw;
  line-height: 1.5em;
}

.interactive-activity {
  outline: solid 2px var(--onyx-gray);
  height: 200px;
}

.visual-simulation {
  margin-top: 10px;
  outline: solid 2px var(--onyx-gray);
  height: 200px;
}
