/* drop down menu css here */
body {
  margin: 0;
}

strong {
  color: var(--sexy-blue);
}

.header-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-list-item {
  float: left;
  cursor: pointer;
}

.dropbtn {
  cursor: default;
}

.header-list-item a,
.dropbtn {
  display: inline-block;
  color: var(--bone);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-list-item a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--bone);
  color: var(--wenge);
}

.header-list-item.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* drop down menu css ends here */

/* footers css here */
.footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.footer-item {
  margin-top: 3px;
  margin-bottom: 3px;
}

#about-us {
  color: var(--bone);
  text-decoration: none;
}

#about-us:hover {
  background-color: var(--bone);
  color: var(--onyx-medium);
}
/* footers end here */
